html {
    background-color: #ff85c1;
    font-size: 14px;
    width: 100%;
    margin: 0;
}

h1 { font-size: 3rem; }
h2 { font-size: 2rem; }

#page {
    width: 85%;
    margin: 20px auto;
    background-color: white;
    border: 2px solid black;
    padding: 20px;
}

.entete {
    text-align: center;
}

#aboutme {
    padding: 10px;
    line-height: 1.5;
}

footer {
    text-align: center;
    margin-top: 20px;
}
